//Color variables
$platinum-grey: #E2E2E2;
$shadow-grey: #00000045;
$oxford-blue: #090933;
$middle-purple: #C880B7;
$light-blue: #BAD1D8;
$white: #FFFFFF;
$black: #333333;
$indigo: #eef2ff;
$dark-indigo: #1e1b4b;
$dark-grey: #191919c7;
$lilac:  rgba(219, 221, 234, 1);

$bg-color: $indigo;
$nav-links: $dark-indigo;
$nav-bg: $indigo;
$link-color: $middle-purple;
$accent-color: $light-blue;
$heading-color: $black;
$subheading-color: $dark-grey;
$text-color: $black;
$cards: $white;
$button: $black;
$footer-bg: $lilac;