//Color variables
$platinum-grey: #E2E2E2;
$shadow-grey: #00000045;
$oxford-blue: #090933;
$middle-purple: #C880B7;
$light-blue: #BAD1D8;
$white: #FFFFFF;
$black: #000000;

$bg-color: $white;
$nav-links: $black;
$link-color: $middle-purple;
$accent-color: $light-blue;
$heading-color: $black;
$text-color: $black;
$cards: $white;
$button: $oxford-blue;