@import '_variables.scss';

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    margin: 0;
    width: 100%;
    font-size: 12pt;
    background: $bg-color;
    text-align: center;
    font-family: "Cabin", sans-serif;
    letter-spacing: 0.06em;
    line-height: 1.56;
  }

  html {
    box-sizing: border-box;
  }

  *,*::before,*::after {
    box-sizing: inherit;
  } 

  main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: $bg-color;
  }

  .container-intro {
    width: 100%;
    background-color: $oxford-blue;
    color: $white;
    padding: 15px;
  }

  .img-container {
    background-color: $cards;
    max-width: 600 px;
    max-height: 350 px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
 
}
  header {
    margin: 20px;
    padding: 50px;

    & h1 {
      font-size: 4rem;
      font-family: 'Poppins', sans-serif;
  }
}

  nav {
    text-align: right;
    margin: 10px;
    padding: 20px;
  }
  
  nav li {
    float: none;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1.6rem;
  }
  
  nav li a {
    color: $nav-links;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    text-decoration: none;
  }

  h1 {
    text-align: center;
    margin-left: 20px;
    color: $heading-color;
  }
  
  h2 {
    color: $oxford-blue;
    font-size: 1.4em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }

  .h2-subheading {
    color: $middle-purple;
    padding: 10px;
    font-size: 2rem;
  }
  
  h3 {
    color: $heading-color;
    text-align: center;
  }

  //LINK STYLING
  a {
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  a:before {
    content: '';
    background: $middle-purple;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
   background-position: 0;
  }
  
  a:hover::before{
    width: 100%;
  }
//LINK STYLING ENDS

//INTRO SECTION STYLING
// #intro {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   width: 80%;
//   background-color: $bg-color;
//   color: $text-color;
// }

// .intro-container {
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   flex-direction: row;
//   width: 100%;
//   color: $text-color;
//   background-color: $bg-color;
// }

// .intro-inner {
//   margin: 10px;
//   padding: 10px;
//   background-color: $accent-color;
//   text-align: left;
// }

.svg-container {
  position: relative;
  color: #FFF;
  text-align: center;
  overflow: hidden;
  h1 {
    font-size: 5rem;
    // margin: 7rem 1.25rem 2.5rem 1.25rem;
  }
  p {
    font-size: 1.5rem;
    // margin: 0 1.25rem 5rem 1.25rem;
  }
}

.svg-container > svg {
  display: block;
}

//ABOUT SECTION STYLING
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  background-color: $bg-color;
  color: $text-color;
}

.about-inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: $text-color;
  background-color: $bg-color;

  #item1, 
  #item2,
  #item3 {
    margin: 10px;
    padding: 10px;
    background-color: $accent-color;
  }
}

ul {
  list-style-type: none;
}

//SKILLSET STYLING BEGINS
  #skillset {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // width: 80%;
    // padding: 100px;
    background-color: $bg-color;
    color: $text-color;
  }

  .skillset-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: $text-color;
    background-color: $bg-color;

    h2 {
      padding: 40px;
      color: $heading-color;
    }

    item1,
    item2,
    item3 {
      padding: 50px;
      margin: 50px;
    }
    li {
      color: $text-color;
      list-style: none;
      padding: 5px;
      font-size: 1.2rem;
    }
  }
//SKILLSET STYLING ENDS

// CARD STYLING BEGINS
#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $bg-color;
}

.projects-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px;
  padding: 20px;
  background-color: $bg-color;
}

  .card {
    box-shadow: 0 4px 8px 0 $shadow-grey;
    transition: 0.3s;
    background-color: $cards;
    padding: 20px;
    margin: 10px;
    width: 80%;
    border-radius: 8px;

  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 $shadow-grey;
  }

  .card-container {
    padding: 2px 16px;
    margin: 10px;
  }

  .card-container h4,
  .card-container p {
    padding: 5px;
  }

  .card-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 50%;
    margin: 5px;
  }

  // img:hover {
  //   box-shadow: 0 8px 8px 0 $shadow-grey;
  //   transition: box-shadow 0.3s ease-in-out;
  // }
// CARD STYLING ENDS


// FORM STYLING
.form-container {
display: flex;
justify-content: center;
align-items: center;
// flex-direction: column;
flex-wrap: nowrap;
}

.form-inner {
width: 100%;
}

label {
  display: block;
  padding: 10px;
}

form {
box-sizing: border-box;
}

input {
  padding: 10px;
  box-shadow:0 0 10px 4px $platinum-grey;
  border-radius: 5px;
  font-family: "Cabin", sans-serif;
  letter-spacing: 0.06rem;
}

button {
  box-shadow:0 0 10px 4px $platinum-grey;
  color: $white;
  background-color: $button;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}


footer {
  // height: 40vh; 
  // background-color: $oxford-blue;

  p {
    padding: 20px;
  }
}


//MEDIA QUERIES
  @media only screen and (min-width: 800px) {
    main {
      display: flex;
      flex-direction: row;
    }

    header {
      min-height: 40vh;
    }

    nav li {
      float: none;
      display: inline-block;
      text-decoration: none;
      text-align: center;
      font-size: 1.6rem;
    }  

    // #skillset {
    //   flex-direction: row;
    //   flex-wrap: wrap;
    // }

    // .skillset-inner {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   flex-direction: row;
    //   width: 100%;
    // }

    

//INTRO SECTION STYLING
// #intro {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   width: 80%;
//   background-color: $bg-color;
//   color: $text-color;
// }

// .intro-container {
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   flex-direction: row;
//   width: 100%;
//   color: $text-color;
//   background-color: $bg-color;
// }

// .intro-inner {
//   margin: 10px;
//   padding: 10px;
//   background-color: $accent-color;
//   text-align: left;
// }

.about-inner {
  flex-direction: row;
  width: 100%;
}

ul {
  list-style-type: none;
}

//SKILLSET STYLING BEGINS
  #skillset {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // width: 80%;
    // padding: 100px;
    background-color: $bg-color;
    color: $text-color;
  }

  .skillset-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: $text-color;
    background-color: $bg-color;

    h2 {
      padding: 40px;
      color: $heading-color;
    }

    item1,
    item2,
    item3 {
      padding: 50px;
      margin: 50px;
    }
    li {
      color: $text-color;
      list-style: none;
      padding: 5px;
      font-size: 1.2rem;
    }
  }
//SKILLSET STYLING ENDS

      
//PROJECT CONTAINER
#projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  // padding: 20px;
  width: 90%;
  background-color: $bg-color;
}

.projects-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: $bg-color;
  width: 90%;
}

//SIDEBAR
.project-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: aquamarine;
  width: 30%;
  margin: 10px;
}

//SIDEBAR TEXT
.sidebar-container {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  // flex-wrap: wrap;
  background-color: white;
  width: 90%;
}

.sidebar-container ul {
  list-style: none;
}

.project-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.card {
  padding: 20px;
  margin: 10px;
  flex-grow: 1;
}
}