<!-- {% block content %} -->
<!--   CONTACT SECTION   -->
<!-- <section id="section" class="section is-small">
  <div class="container" id="contact">
      <div class="title-wrapper has-text-centered">
          <h2 class="title h2-subheading">Contact me</h2>
          <div class="divider is-centered"></div>
      </div>

      <div class="content-wrapper">
          <div class="columns">
              <div class="column is-6 is-offset-3">
                <form action="https://formsubmit.co/d831708b5dd442877f0c2a5defc85f5f" method="POST">
                  <input type="hidden" name="_subject" value="New Email!" required>
                      <div class="columns is-multiline">
                          <div class="column is-6">
                            <label for="firstname" class="is-hidden">First Name</label>
                            <input type="text" class="input is-medium" name="firstname" placeholder="First Name *" required>
                          </div>
                          <div class="column is-6">
                            <label for="lastname" class="is-hidden">Last Name</label>
                            <input type="text" class="input is-medium" name="lastname" placeholder="Last Name*" required>
                          </div>
                          <div class="column is-6">
                            <label for="email" class="is-hidden">Email</label>
                            <input type="text" class="input is-medium" name="email" placeholder="Email Address*" required>
                          </div>
                          <div class="column is-6">
                            <label for="company" class="is-hidden">Company</label>
                            <input type="text" class="input is-medium" name="company" placeholder="Company">
                          </div>
                          <div class="column is-12">
                            <label for="message" class="is-hidden">Message</label>
                            <textarea class="textarea" name="message" rows="6" placeholder="Write your message here" required></textarea>
                            <input type="hidden" name="_next" value="https://localhost:8080/thankyou.html">
                            <input type="hidden" name="_autoresponse" value="Thank you for reaching out to me! I will try to get back to you as soon as possible.">
                          </div>
                          <div class="column is-12">
                              <div class="form-footer mt-10">
                                  <button class="button cta primary-btn form-button">Send</button>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section> -->
<!-- {% endblock %}  -->