<section class="hero">
    <div class="hero-body">
        <div class="container">
            <!-- <img id="profile" src="{{ imgUrl }}" alt="Profile picture">
            <div class="social">
                <a href="{{ social1 }}" target="_blank">
                </a>
            <a href="{{ social2 }}" target="_blank">
            </a>
              <a href="{{ social3 }}"></a>
          </div>
            <p class="title cta-title">
               {{ email }}
            </p>
            <p class="subtitle">
            {{ ctaText }} 
            </p>
        </div> -->
    </div>
</section>
