<section class="hero-section hero is-medium">
  <nav class="navbar" role="navigation" aria-label="Primary">
  <ul class="nav-list">
    {% for item in navigation.items %}
    <li>
      <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
        >{{ item.text }}</a
      >
    </li>
    {% endfor %}
  </ul>
</nav>

<!-- {% if homepage %} -->
  <header>
    <h3>{{ introheading }}</h3>
      <h1> {{ title }} </h1>
        <h3>{{ subheading }}</h3>
  </header>
</section>

<!-- {% endif %} -->

<!-- <section class="hero is-medium">
  <div class="hero-head">
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item is-active">
              Home
            </a>
            <a class="navbar-item">
              Blog Posts
            </a>
          </div>
        </div>
        </section> -->

