{% extends "layouts/base.html" %} 

{% block content %}
<!--   CONTACT SECTION   -->
<section id="contact">
    <h2 class="h2-subheading">Contact me</h2>
    <div class="projects-inner">
    <div class="card">
      <i class="fa-solid fa-user-tie-hair-long"></i>
      <div class="card-container">
        <!-- <h4><b>Contact form</b></h4> -->

        <div class="form-container">
        <div class="form-inner">
        <form action="https://formsubmit.co/d831708b5dd442877f0c2a5defc85f5f" method="POST">
          <input type="hidden" name="_subject" value="New Email!" required>
          <label for="name">Name</label>
          <input type="text" name="name" placeholder="Name" required>
          <label for="email">Email</label>
          <input type="email" name="name" placeholder="Email Address" required>
          <label for="message">Message</label>
          <input type="message" name="message" placeholder="Write your message here" required>
          <input type="hidden" name="_next" value="https://localhost:1234/thankyou.html">
          <input type="hidden" name="_autoresponse" value="Thank you for reaching out to me! I will try to get back to you as soon as possible.">
          <div class="button">
            <button type="submit">Send</button>
          </div>
        </form>
        </div>
      </div>
      </div>
    </div>
</div>
</section>
{% endblock %} 