{% extends "layouts/base.html" %} 

{% block content %}
  <!--   PROJECT SECTION   -->
  <section id="projects">
    <!-- <h2 class="h2-subheading">My projects</h2> -->
    <div class="projects-inner">
    <div class="card">
      <div class="card-img">
        <img src="{{ imgurl }}" alt="An image of an example project" width="1883" height="919" class="project-image">
      </div>
      <div class="card-container">
        <h4><b>Project 1</b></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu justo ut odio fermentum consequat. In et vestibulum justo. Fusce a scelerisque tortor. Duis nec consequat urna, et ullamcorper nisi. Sed non ornare leo, sed aliquam ante. </p>
      </div>
    </div>
    <div class="card">
      <div class="card-img">
        <img src="{{ imgurl }}" alt="An image of an example project" width="1883" height="919" class="project-image">
      </div>
      <div class="card-container">
        <h4><b>Project 2</b></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu justo ut odio fermentum consequat. In et vestibulum justo. Fusce a scelerisque tortor. Duis nec consequat urna, et ullamcorper nisi. Sed non ornare leo, sed aliquam ante. </p>
      </div>
  </section>
{% endblock %}
